@model Training.Models.Student

@{
    ViewBag.Title = "Details";
}
<h2>@ViewBag.Title.</h2>
<br />
<div class="row">

    <div class="col-md-4">
        <h4>Студенты на тренинге @ViewBag.TrainingTitle </h4>
        <div class="panel panel-default">
            <div class="panel-body">
                @foreach (var s in ViewBag.Students)
                {
                    <li>@s.FirstName @s.LastName @s.University @s.UniversityClass cource</li>
                }
            </div>
        </div>


    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>

@using (Html.BeginForm("Details", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", @id = "submitForm" }))
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    <div class="form-group-sm">
        <select class="form-control" name="University" required>
            <option value="" selected="selected" content="empty" class="text-muted">Выберите университет</option>
            <option value="BSUIR">BSUIR</option>
            <option value="BSU">BSU</option>
        </select>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.UniversityClass)
        @for (int i = 1; i < 6; i++)
        {
            @Html.Label(i.ToString())
            @Html.RadioButtonFor(m => m.UniversityClass, i)
            
        }
    </div>

    <div>
        @Html.LabelFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName)
        @Html.ValidationMessageFor(m => m.FirstName)
       
    </div>

    <div>
        @Html.LabelFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName)
        @Html.ValidationMessageFor(m => m.LastName)
    </div>

    <div>
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email)
        @Html.ValidationMessageFor(m => m.Email)
    </div>

    <input type="submit" class="btn btn-primary" value="Готово"/>

}
